<div class="jssor">
    {% for key, image in __SELF__.model().images %}
        <div class="jssor-item {% if key == 0 %} active {% endif %}">
            {{ image.responsive(__SELF__.model().title) | raw }}
        </div>
    {% endfor %}
    <div class="bullets">
    {% for key, image in __SELF__.model().images %}
        <div class="bullet nr-{{ key }} {% if key == 0 %} active {% endif %}"></div>
    {% endfor %}
    </div>

    {% if __SELF__.model().overlay %}
    <div class="overlay">
        <div class="overlay-inner">
            <img src="{{ __SELF__.model().overlay.getPath() }}">
        </div>
    </div>
    {% endif %}
</div>
