.jssorb11 {
    position: absolute;
}
.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av {
    position: absolute;
    /* size of bullet elment */
    width: 11px;
    height: 11px;
    background: url(../../img/b11.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb11 div { background-position: -10px -10px; }
.jssorb11 div:hover, .jssorb11 .av:hover { background-position: -40px -10px; }
.jssorb11 .av { background-position: -70px -10px; }
.jssorb11 .dn, .jssorb11 .dn:hover { background-position: -100px -10px; }

