.jssorb12 {
    position: absolute;
}
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(../../img/b12.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

