.jssorb16 {
    position: absolute;
}
.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    background: url(../../img/b16.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb16 div { background-position: -5px -5px; }
.jssorb16 div:hover, .jssorb16 .av:hover { background-position: -35px -5px; }
.jssorb16 .av { background-position: -65px -5px; }
.jssorb16 .dn, .jssorb16 .dn:hover { background-position: -95px -5px; }

