.jssorb17 {
    position: absolute;
}
.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(../../img/b17.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb17 div { background-position: -7px -7px; }
.jssorb17 div:hover, .jssorb17 .av:hover { background-position: -37px -7px; }
.jssorb17 .av { background-position: -67px -7px; }
.jssorb17 .dn, .jssorb17 .dn:hover { background-position: -97px -7px; }

