.jssorb18 {
    position: absolute;
}
.jssorb18 div, .jssorb18 div:hover, .jssorb18 .av {
    position: absolute;
    /* size of bullet elment */
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    background: url(../../img/b18.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb18 div { background-position: -3px -3px; }
.jssorb18 div:hover, .jssorb18 .av:hover { background-position: -33px -3px; }
.jssorb18 .av { background-position: -63px -3px; }
.jssorb18 .dn, .jssorb18 .dn:hover { background-position: -93px -3px; }
.jssorb18 .n  { display: none; color: #000; }
.jssorb18 div:hover .n, .jssorb18 .av .n, .jssorb18 .av:hover .n, .jssorb18 .dn .n { display: block; }

