.jssorb20 {
    position: absolute;
}
.jssorb20 div, .jssorb20 div:hover, .jssorb20 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../../img/b20.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb20 div { background-position: -5px -5px; }
.jssorb20 div:hover, .jssorb20 .av:hover { background-position: -35px -5px; }
.jssorb20 .av { background-position: -65px -5px; }
.jssorb20 .dn, .jssorb20 .dn:hover { background-position: -95px -5px; }

