.jssora07l, .jssora07r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../img/a07.png) no-repeat;
    overflow: hidden;
}
.jssora07l { background-position: -5px -35px; }
.jssora07r { background-position: -65px -35px; }
.jssora07l:hover { background-position: -125px -35px; }
.jssora07r:hover { background-position: -185px -35px; }
.jssora07l.jssora07ldn { background-position: -245px -35px; }
.jssora07r.jssora07rdn { background-position: -305px -35px; }

.jssora07l.jssora07lds { background-position: -5px -35px; opacity: .3; pointer-events: none; }
.jssora07r.jssora07rds { background-position: -65px -35px; opacity: .3; pointer-events: none; }

