.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(../img/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }

.jssora11l.jssora11lds { background-position: -11px -41px; opacity: .3; pointer-events: none; }
.jssora11r.jssora11rds { background-position: -71px -41px; opacity: .3; pointer-events: none; }

