.jssora14l, .jssora14r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 50px;
    cursor: pointer;
    background: url(../img/a14.png) no-repeat;
    overflow: hidden;
}
.jssora14l { background-position: -15px -35px; }
.jssora14r { background-position: -75px -35px; }
.jssora14l:hover { background-position: -135px -35px; }
.jssora14r:hover { background-position: -195px -35px; }
.jssora14l.jssora14ldn { background-position: -255px -35px; }
.jssora14r.jssora14rdn { background-position: -315px -35px; }

.jssora14l.jssora14lds { background-position: -15px -35px; opacity: .3; pointer-events: none; }
.jssora14r.jssora14rds { background-position: -75px -35px; opacity: .3; pointer-events: none; }

