.jssora16l, .jssora16r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 22px;
    height: 36px;
    cursor: pointer;
    background: url(../img/a16.png) no-repeat;
    overflow: hidden;
}
.jssora16l { background-position: -19px -42px; }
.jssora16r { background-position: -79px -42px; }
.jssora16l:hover { background-position: -139px -42px; }
.jssora16r:hover { background-position: -199px -42px; }
.jssora16l.jssora16ldn { background-position: -259px -42px; }
.jssora16r.jssora16rdn { background-position: -319px -42px; }

.jssora16l.jssora16lds { background-position: -19px -42px; opacity: .3; pointer-events: none; }
.jssora16r.jssora16rds { background-position: -79px -42px; opacity: .3; pointer-events: none; }

