.jssora08l, .jssora08r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../../img/a08.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssora08l { background-position: -5px -35px; }
.jssora08r { background-position: -65px -35px; }
.jssora08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora08l.jssora08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora08r.jssora08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

.jssora08l.jssora08lds { background-position: -5px -35px; opacity: .3; pointer-events: none; }
.jssora08r.jssora08rds { background-position: -65px -35px; opacity: .3; pointer-events: none; }

