.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url(../../img/a13.png) no-repeat;
    overflow: hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }

.jssora13l.jssora13lds { background-position: -10px -35px; opacity: .3; pointer-events: none; }
.jssora13r.jssora13rds { background-position: -70px -35px; opacity: .3; pointer-events: none; }

